# Arquivos de ambiente
.env

# Backups de banco de dados
*.sql

# Backups de volumes
*.tar

# Diretórios do Docker
**/node_modules/
**/vendor/

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db
